@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  @apply bg-navy text-light-gray font-sans;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-navy;
}

::-webkit-scrollbar-thumb {
  @apply bg-vibrant-red bg-opacity-50 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-vibrant-red;
}

.my-custom-modal {
  max-width: 90%;
  width: 800px;
  transition: opacity 0.15s linear;
  transform: scale(0.95);
  transition: transform 0.3s ease-out, opacity 0.15s linear;
}

.my-custom-modal.show {
  opacity: 1;
  transform: scale(1);
}

.typing-indicator {
  display: flex;
  align-items: center;
}

.typing-indicator span {
  height: 8px;
  width: 8px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
  animation: bounce 1.3s linear infinite;
}

.typing-indicator span:nth-child(2) {
  animation-delay: -1.1s;
}

.typing-indicator span:nth-child(3) {
  animation-delay: -0.9s;
}

@keyframes bounce {
  0%, 60%, 100% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-5px);
  }
}

.sidebar-button {
  height: 40px; /* Adjust this value as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  white-space: nowrap;
}

.custom-toast {
  background-color: #3b82f6 !important; /* blue-500 */
  color: white !important;
}

.custom-toast-progress-bar {
  background-color: #1d4ed8 !important; /* blue-700 */
}

.button {
  background-color: #04AA6D;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 60px;  /* Set a fixed width */
  height: 60px; /* Set the same value as width to make it square */
  border-radius: 50%; /* This will make the square into a circle */
  padding: 0; /* Remove padding to ensure circular shape */
  line-height: 60px; /* Center text vertically */
}

.button5 {
  width: 60px;
  height: 60px;
  padding: 0;
  border-radius: 50%;
  line-height: 60px; /* Center text vertically */
}

.modal-top-layer {
  position: fixed;
  z-index: 9999;
}

.prose-invert {
  color: #e2e8f0;
}

.prose-invert h1,
.prose-invert h2 {
  color: #f8fafc;
}

.prose-invert a {
  color: #60a5fa;
}

.prose-invert strong {
  color: #f8fafc;
}

.prose-invert ol > li::before {
  color: #94a3b8;
}

.prose-invert ul > li::before {
  background-color: #94a3b8;
}

.preview-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.preview-container.show {
  max-height: 80%;
}